<html>
    <head>
        <link rel="stylesheet" href="index.css">
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <!-- Since there is already a rich ecosystem of ajax libraries    -->
        <!-- and collections of general-purpose utility methods, Vue core -->
        <!-- is able to remain small by not reinventing them. This also   -->
        <!-- gives you the freedom to use what you're familiar with.      -->
        <script src="https://cdn.jsdelivr.net/npm/axios@0.12.0/dist/axios.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/lodash@4.13.1/lodash.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    </head>
    <body>        
        <!-- Declarative Rendering -->
        <h2>Declarative Rendering</h2>
        <div id="app">            
            {{ message }}
        </div>
        <div id="app-2">
            <span v-bind:title="message">
              Hover your mouse over me for a few seconds
              to see my dynamically bound title!
            </span>
        </div>

        <!-- Conditionals and Loops -->
        <h2>Conditionals and Loops</h2>
        <div id="app-3">
            <span v-if="seen">Now you see me</span>
        </div>
        <div id="app-4">
            <ol>
              <li v-for="todo in todos">
                {{ todo.text }}
              </li>
            </ol>
        </div>

        <!-- Handling User Input -->
        <h2>Handling User Input</h2>
        <div id="app-5">
            <p>{{ message }}</p>
            <button v-on:click="reverseMessage">Reverse Message</button>
        </div>
        <div id="app-6">
            <p>{{ message }}</p>
            <input v-model="message">
        </div>

        <!-- Composing with Components -->
        <h2>Composing with Components</h2>
        <div id="app-7">
            <ol>
                <!--
                Now we provide each todo-item with the todo object
                it's representing, so that its content can be dynamic.
                We also need to provide each component with a "key",
                which will be explained later.
                -->
                <todo-item
                    v-for="item in groceryList"
                    v-bind:todo="item"
                    v-bind:key="item.id"
                ></todo-item>
            </ol>
        </div>

        <!-- Computed Properties and Watchers -->
        <h2>Computed Properties and Watchers</h2>
        <div id="app-8">
            <p>Original message: "{{ message }}"</p>
            <p>Computed reversed message: "{{ reversedMessage }}"</p>
        </div>

        <!-- Watchers -->
        <h2>Watchers</h2>
        <div id="watch-example">
            <p>
                Ask a yes/no question:
                <input v-model="question">
            </p>
            <p>{{ answer }}</p>
        </div>        

        <!-- Conditional Rendering -->
        <h2>Conditional Rendering</h2>
        <div id="conditional-rendering">
            <template v-if="(random = Math.random()) > 0.5">
                <div>Now you see me with random() = {{random}} > 0.5</div>
            </template>
            <template v-else-if="random > 0.3">
                <div>Now you see me with random() = {{random}} > 0.3</div>
            </template>
            <template v-else>
                <div>Now you see me with random() = {{random}} <= 0.3</div>
            </template>
        </div>

        <!-- Controlling Reusable Elements with key -->
        <h2>Controlling Reusable Elements with key</h2>
        <div id="control-reusable-elements">
            <template v-if="loginType === 'username'">
                <label>Username</label>
                <input placeholder="Enter your username" key="username-input">
            </template>
            <template v-else>
                <label>Email</label>
                <input placeholder="Enter your email address" key="email-input">
            </template>
            <button @click="toggle">toggle login type</button>
        </div>

        <!-- v-for with a component -->
        <h2>v-for with a component </h2>
        <div id="todo-list-example">
            <form v-on:submit.prevent="addNewTodo">
              <label for="new-todo">Add a todo</label>
              <input
                v-model="newTodoText"
                id="new-todo"
                placeholder="E.g. Feed the cat"
              >
              <button>Add</button>
            </form>
            <ul>
              <li
                is="todo-item"
                v-for="(todo, index) in todos"
                v-bind:key="todo.id"
                v-bind:title="todo.title"
                v-on:remove="todos.splice(index, 1)"
              ></li>
            </ul>
        </div>

        <!-- Event Handling -->
        <h2>Event Handling</h2>
        <div id="listening-to-events">
            <button @click="counter += 1">Add 1</button>
            <p>The button above has been clicked {{ counter }} times.</p>
        </div>

        <!-- Methods Event Handlers -->
        <h2>Methods Event Handlers</h2>
        <div id="method-event-handlers">
            <!-- `greet` is the name of a method defined below -->
            <button @click="greet">Greet</button>
        </div>

        <div id="method-in-event-handlers">
            <button v-on:click="say('hi')">Say hi</button>
            <button v-on:click="say('what')">Say what</button>
            <button v-on:click="warn('Form cannot be submitted yet.', $event)">
                Submit
            </button>
        </div>

        <!-- Event Modifiers -->
        <h2>Event Modifiers</h2>
        <div id="event-modifiers">
            <!-- the click event's propagation will be stopped -->
            <a v-on:click.stop="doThis">click.stop</a>

            <!-- the submit event will no longer reload the page -->
            <form v-on:submit.prevent="onSubmit">
                <input type="text" value="Input Text" name="input"/>
                <button type="submit">Submit</button>
            </form>

            <!-- modifiers can be chained -->
            <a v-on:click.stop.prevent="doThat">click.stop.prevent</a>

            <!-- just the modifier -->
            <form v-on:submit.prevent="">
                <input type="text" value="Input Text" name="input" v-on:keyup.enter="onEnter"/>
                <button type="submit">Submit</button>
            </form>

            <!-- use capture mode when adding the event listener -->
            <!-- i.e. an event targeting an inner element is handled here before being handled by that element -->
            <div v-on:click.capture="doThis">click.capture</div>

            <!-- only trigger handler if event.target is the element itself -->
            <!-- i.e. not from a child element -->
            <div v-on:click.self="doThat">click.self</div>

            <!-- the click event will be triggered at most once -->
            <a v-on:click.once="doThis">click.once</a>
        </div>

        <!-- Component Basics -->
        <h2>Component Basics</h2> 
        <div id="blog-post">
            <custom-input
                v-bind:value="searchText"
                v-on:input="searchText = $event"
            ></custom-input>
            <!-- <custom-input v-model="searchText"></custom-input> -->
            {{searchText}}
            <div :style="{ fontSize: postFontSize + 'em' }">
                <blog-post
                    v-for="post in posts"
                    v-bind:key="post.id"
                    v-bind:post="post"
                    v-on:enlarge-text="postFontSize += $event"
                ></blog-post>
            </div>
        </div>

        <h2>Content Distribution with Slots</h2>
        <div id="slots-demo">
            <alert-box>
                Something bad happened.
            </alert-box>
        </div>
        

        <script src="services.js"></script>
        <script src="index.js"></script>
    </body>
</html>